/*通用样式设置*/
body{
    font:12px "simhei",Arial,Helvetica,sans-serif;
    color:#858586;
    margin:0 auto;
    padding:0;
    background-color:#fff;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,div,form,li,input{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing:border-box;
}
a{
    color:#000;
    text-decoration:none;
}
a:hover{
    color:#FF283C;
}
img{
    vertical-align:middle;
}
.clear:after{
    content:"";
    display:block;
    clear:both;
}
.lf { float:left;}
.rt { float:right;}

div.main{
    width:1200px;
    margin:0 auto;
}


